@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model DCCSPrototype.Views.Home.CourseRegistrationModel

@{
    ViewData["Title"] = "CourseRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Course Registration</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Course Registration </li>
            </ul>
        </div>
    </div>
</section>
<!-- //breadcrumb -->
<script type="text/javascript">var submitted = false;</script>

<!--Update the URL for thank you page on form submit -->
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
        onload="if(submitted) {window.location='~/';}"></iframe>

@if (@SignInManager.IsSignedIn(User))
{
    @Html.Raw("<iframe src='https://docs.google.com/forms/d/e/1FAIpQLScOCSfik-XuLSecDlBCv2GBqM-gPCGv_XJxjRkLAcPl02TpRg/viewform?embedded=true&usp=pp_url&entry.1508659723=" + User.Identity.Name +"' width='640' height='961' frameborder='0' marginheight='0' marginwidth='0'>Loading…</iframe>");
}
else
{
    <h3>Please Log In First.</h3>
    <p>Account information is needed for course registration.</p>
}

<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>